database:
	dsn: 'mysql:host=db;dbname=georgina'
	user: root
	password: root

extensions:
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nette
	withDummyData: %debugMode%
