services:
	- App\Model\Command\Elastica\ElasticaCreateIndexCommand
	- App\Model\Command\Elastica\ElasticaProductIndexCommand

	- App\Model\Command\Generator\GraphqlAllGenerator
	- App\Model\Command\Generator\GraphqlEnumGenerator
	- App\Model\Command\Generator\GraphqlInputGenerator
	- App\Model\Command\Generator\GraphqlQueryRequestGenerator
	- App\Model\Command\Generator\GraphqlQueryResolverGenerator
	- App\Model\Command\Generator\GraphqlTypeRequestGenerator
	- App\Model\Command\Generator\GraphqlTypeResolverGenerator
